@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

div.product-card {
  width: 375px;
  margin: 1rem auto;
  border-radius: 1rem;
  background-color: white;
}

button.add-cart-btn {
  padding: 1rem;
  width: 100%;
  color: white;
  border: none;
  text-align: center;
  border-radius: 1rem;
}

section.details {
  padding: 1.6rem;
}

button.add-cart-btn > span.cart-icon {
  background-image: url('./images/icon-cart.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1.5rem;
  display: inline-block;
}

/*** media - phones only ***/
@media screen and (max-width: 767px) {
  div.product-card > picture > img {
    border-radius: 1rem 1rem 0 0;
  }
}

/****
  media queries - tablet, desktop
***/
@media screen and (min-width: 768px) {
  div.product-card {
    width: auto;
    max-width: 900px;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;          
  }

  picture > img {
    border-radius: 1rem 0 0 1rem;
    width: auto;
    height: 100%;
  }
}

