*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hanken';
  src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 500 800;
}

:root {
  --red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --gradient-light: hsl(252, 100%, 67%);
  --gradient-darker: hsl(241, 81%, 54%);
  --circle-color-1: hsla(256, 72%, 46%, 1);
  --circle-color-2: hsla(241, 72%, 46%, 0);
  /* neutral colours */
  --white: hsl(0, 0%, 100%);
  --light-blue: hsl(221, 100%, 96%);
  --dark-blue-grey: hsl(224, 30%, 27%);
  --light-lavendar: hsl(241, 100%, 89%);
  /* fonts */
  --font-fallback: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* border radius */
  --border-radius: 30px;
}

body {
  font-size: 18px;
  font-family: 'Hanken', var(--font-fallback);
}

div.results-summary {
  width: 100%;
}

/* header */
section.results-header {
  background-image: linear-gradient(180deg, var(--gradient-light), var(--gradient-darker));
  color: var(--light-lavendar);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.results-header > header {
  padding: 1rem;
}

header h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 1.8rem;
}

.results-header > header > div {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-image: linear-gradient(180deg, var(--circle-color-1), var(--circle-color-2));
  padding: 1.3rem;
}

p.larger-percent {
  font-size: 2.8rem;
  color: var(--white);
  font-weight: 800;
  text-align: center;
}

p.smaller-percent {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

div.results-header-msg > h3 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
}

div.results-header-msg > p {
  text-align: center;
  padding-bottom: 1rem;
} 

/* results breakdown table */
section.results-breakdown {
  padding: 1.5rem;
}

section.results-breakdown > h4 {
  font-size: 1.8rem;
  color: var(--dark-blue-grey);
  line-height: 2;
}

section.results-breakdown > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.results-data-item {
  list-style-type: none;
  border-radius: 6px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.7rem;
}

.results-data-item > .test-title {
  flex-grow: 1;
  margin-left: 1rem;
}

.results-data-item > .score {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark-blue-grey);
}

.score .grey-100 {
  color: rgb(150, 150, 150);
}

span.svg-logo {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* individual li icons */
.results-data-item:first-child {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: var(--red);
}

.results-data-item:first-child > .svg-logo {
  background-image: url('./assets/images/icon-reaction.svg');
  color: var(--red);
}

.results-data-item:nth-child(2) {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: var(--orange-yellow);
}

.results-data-item:nth-child(2) > .svg-logo {
  background-image: url('./assets/images/icon-memory.svg');
  color: var(--orange-yellow);
}

.results-data-item:nth-child(3) {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: var(--green);
}

.results-data-item:nth-child(3) > .svg-logo {
  background-image: url('./assets/images/icon-verbal.svg');
  color: var(--green);
}

.results-data-item:last-child {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: var(--cobalt-blue);
}

.results-data-item:last-child > .svg-logo {
  background-image: url('./assets/images/icon-visual.svg');
  color: var(--cobalt-blue);
}

.btn-area > button {
  background-color: var(--dark-blue-grey);
  color: var(--white);
  border-radius: var(--border-radius);
  width: 100%;
  margin: 1.5rem 0rem;
  padding: 0.6rem 0.8rem;
  border: none;
  font-size: 1.5rem;
}

.btn-area > button:hover {
  cursor: pointer;
  background-image: linear-gradient(180deg, var(--gradient-light), var(--gradient-darker));
}

/***
  Media Queries - tablet then desktop
****/
@media screen and (min-width: 375px) {
  div.results-summary {
    width: 75%;
    max-width: 600px;
    margin: 2rem auto;
    /* shadow */
    box-shadow: hsla(241, 100%, 89%, 0.5) 0 10px 15px -3px,
        0px 10px 10px -5px var(--light-blue);
  }

  div.results-summary, section.results-header {
    border-radius: var(--border-radius);
  }
}

@media screen and (min-width: 768px) {
  div.results-summary {
    width: 65%;
    max-width: 900px;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;   
    /* shadow */
    box-shadow: hsla(241, 100%, 89%, 0.5) 0 10px 15px -3px,
        0px 10px 10px -5px var(--light-blue);
        
  }

  div.results-summary, section.results-header {
    border-radius: var(--border-radius);
  }
}